.Weather {
background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 20px;
padding-bottom: 500px;
}

.carousel-indicators li {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.bradius {
    border-radius: 18px !important;
}

