.Weather {
background: linear-gradient(to top, #dfe9f3 0%, white 100%);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-top: 20px;
padding-bottom: 100px;


}

.carousel-indicators li {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.bradius {
    border-radius: 18px !important;
}

 .customised {
   background: #fff;
   color: #6D64FD !important;
   border-color: #6D64FD !important;
   margin-left: -40px;


 }

 .customised:hover {
   background: #fff !important;
   color: #a2a8d3 !important;
   border-color: #6D64FD !important;
   opacity: 0.7;
   box-shadow: 3px 3px 3px #a8adff;
   transform: scale(1.05);
 }


 form {
   max-width: 600px;
   margin: 30px auto;
 }

 .card{
    box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
 }